{% extends '/security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div
                class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                {% if error %}
                                    <div class="alert alert-danger"
                                         role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/logo.svg" alt="">
                                </a>
                                <form action="{{ path('app_login') }}" method="post">
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="email" class="form-control" id="username"
                                               aria-describedby="emailHelp" name="_username" value="{{ last_username }}"
                                               required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                                        <input type="password" class="form-control" id="password" name="_password"
                                               required>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input success" type="checkbox" value=""
                                                   id="flexCheckChecked" checked>
                                            <label class="form-check-label text-dark" for="flexCheckChecked">
                                                Se souvenir
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                                           value="{{ csrf_token('authenticate') }}">
                                    <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
