{% if product.stock is not null and  product.stock.quantity is defined %}
    {% if product.stock.quantity > 5 %}
        <span class="badge bg-success-subtle text-success">Disponible</span>
    {% elseif product.stock.quantity <= 5 %}
        <span class="badge bg-danger-subtle text-danger">Fini</span>
    {% endif %}
{% endif %}